 

 

<h1>Chart</h1>

<br />
<label id="loading">Loading......</label>

                         
                        <canvas id="lineChart" width="100" height="100"></canvas>




<script>
    /*"/MonthlyVersionHistory?model=NBDVR522GWA*/
     

      $.ajax({
              url: "/MonthlyVersionHistory",
            //data: "{ 'searchItem':  ' }",
            type: "Get",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
                    success: function (res) {
                        $("#loading").hide();
                        var response = res ;

                        console.log(response)
 
               var ctx2 = document.getElementById("lineChart").getContext('2d');

                var myChart = new Chart(ctx2, {
                type: 'line',
                    data:res ,
                options: {
                       responsive: true, // Instruct chart js to respond nicely.
                    maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
                    y: {
                            beginAtZero: true
                    },
                     stacked: true
                     
                    }
                
                });
                 myChart.canvas.parentNode.style.height = '1558px';
                 myChart.canvas.parentNode.style.width = '1258px';

            }, 
            error: function (result) {
                alert('There is a problem processing your request');
            }
                });





</script>
        